

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    overflow: auto;
    
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/assets/image/background/bg-intro-desktop.png');
    background-color:  hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
  main{
   flex:1 ;
   width: 100%;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
  }

  #leftPart,#rightPart{
    color: #f1efe3;
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;    
  }
  #leftPart{
    gap: 1.5em;
  }
  #leftPart p:first-child{
    font-weight:700 ;
    font-size: 3em;
    line-height: 1.1;
    padding-left: 10%;
  }
  #leftPart p:last-child{
    padding: 0 10% 0 10%;
  }
  #rightPart {
    display: inherit;
    gap: 2em;
  }

  #rightPart > p{
    background-color: hsl(248, 32%, 49%);
    height: 80px;
    border-radius: 8px;
    display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 20px 5px -3px rgba(0,0,0,0.1);
  }
  #rightPart > p .infoBold{
  font-weight: 600;
  
  }
  #rightPart form{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: #f1efe3;
    border-radius: 8px;
    padding: 2rem 0 4rem 0;
box-shadow: 0px 20px 5px -3px rgba(0,0,0,0.1);
overflow: hidden;
  }
form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
  input[type=text], input[type=password],input[type=email] {
    width: 90%;
    height: 80px;
    border-radius: 8px;
    padding-left: 40px;
    font-size: 1em;
    font-weight: 600;
    color: hsl(249, 10%, 26%);
    border: 1px solid hsl(246, 25%, 77%);
    
  }
  
 
  input.invalid {
    background-image : url(/assets/icon/icon-error.svg);
    background-position : 90%;
    border-color: hsl(0, 100%, 74%);
    background-repeat : no-repeat;
    color:  hsl(0, 100%, 74%);
  }
  .success{
    color:  hsl(154, 45%, 36%);
    background-color: hsl(154, 59%, 51%);
    width: 90%;
    text-align: left;
    font-size: .8em;
    padding: 1em;
    border-radius: 8px;
  }
  .hidden{
    display: none;
    opacity: 0;
    transition: all 0.4s;
  }
 
  .error{
    color: hsl(0, 100%, 74%);
    width: 90%;
    text-align: right;
    font-size: .8em;
  }
  input[type=submit]{
    width: 90%;
    height: 80px;
    border-radius: 8px;
    background-color: hsl(154, 59%, 51%);
    color: #f1efe3 ;
    font-size: 1.125em;
    font-weight: 600;
    border: none;
    box-shadow: 0px 9px 0px 0px  hsl(154, 68%, 38%);;

  }
  input[type=submit]:hover{
    background-color: hsl(154, 70%, 54%);;
  }
  #rightPart form p{
    color: hsl(246, 25%, 77%);
    font-size: .8em;
  }
  #rightPart form p span.TnSBold{
   cursor: pointer;
    color:  hsl(0, 100%, 74%); 
    font-weight: 600;
  }

  @media only screen and (max-width: 600px) {


    main{
      display: flex;
      flex-direction: column;
    max-width: 100%;
    gap: .5em;
    }

    
  #leftPart,#rightPart{
    width: 100%;  
    padding: 1.5em;
  }

  #leftPart p:first-child{
    font-weight:700 ;
    font-size: 1.5em;
    line-height: 1.1;
    padding-left: 0;
    padding-top: 3em;
    text-align: center;
  }
  #leftPart p:last-child{
    padding: 0;
    text-align: center;
  }
  #rightPart {
    gap: 1.5em;
  }


  #rightPart > p{
    flex-direction: column;
    
box-shadow: 0px 15px 5px -3px rgba(0,0,0,0.1);
  }

  
  #rightPart form{
    padding: .6rem .5em 4rem .5em;
  }
  #rightPart form p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    
    padding-top: .7em;

  }

 

}
/**** Animation *****/

.tracking-in-expand-fwd-top {
	animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-31 0:40:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
 @keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
    filter: blur(5px);
  }
  40% {
    opacity: 0.6;
    filter: blur(2.5px);
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
